.action-card {
  background-color: #1e293b;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  .my-mind {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    img {
      width: 50px;
      height: 50px;
    }

    input {
      width: 100%;
      padding: 12px 15px;
      border-radius: 30px;
      border: none;
      outline: none;
      background-color: #ffffff1b;
      color: white;
      &::placeholder {
        color: #ffffff8c;
      }
    }
  }

  .act {
    border: 2px dotted #0ea5e9;
    padding: 10px;
    border-radius: 2px;
    input {
      color: white;
      &::-webkit-file-upload-button {
        background-color: #0ea5e9;
        border: none;
        padding: 5px 10px;
        color: white;
        font-size: 1.1rem;
        margin: 0px 20px 0px 0px;
        border-radius: 2px;
      }
    }
  }
  .line {
    height: 0.8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.373);
  }
  .actions {
    display: flex;
    column-gap: 30px;
    align-items: center;
    li {
      list-style-type: none;
      color: #cbd5e1;
      font-size: 0.8rem;
      cursor: pointer;
      i {
        cursor: pointer;
        margin: 0px 5px;
        color: #cbd5e1;
        font-size: 1rem;
      }
      button {
        padding: 5px 15px;
        border-radius: 20px;
        border: none;
        background-color: #0ea5e9;
        color: white;
        cursor: pointer;
      }
    }
  }
}
