.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .profile {
    display: flex;
    img {
      width: 50px;
      height: 50px;
    }
    .details {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-weight: bold;
      }
      span {
        font-size: 0.8rem;
        color: #ffffffab;
      }
    }
  }
  i {
    font-size: 1.3rem;
    cursor: pointer;
  }
}
