.post-card {
  width: 500px;
  height: auto;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profile {
      display: flex;
      img {
        width: 50px;
        height: 50px;
      }
      .details {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-weight: bold;

          font-size: 1.1rem;
          color: #fff;
        }
        span {
          font-size: 0.7rem;
          color: #ffffffab;
        }
      }
    }

    i {
      font-size: 1rem;
      cursor: pointer;
      background-color: #0ea4e935;
      width: 40px;
      height: 40px;
      padding: 20px;
      text-align: center;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #cbd5e1;
    }
  }
  .captions {
    color: white;
    font-size: 0.9rem;
  }
  .post_media {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    img {
      object-fit: contain;
      width: 100%;
      border-radius: 15px;
    }
  }
  .interactions {
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    color: #ffffffee;

    .like_comment {
      display: flex;
      column-gap: 20px;

      .impress {
        display: flex;
        align-items: center;
        column-gap: 5px;
      }
    }

    i {
      cursor: pointer;
      color: #ffffffab;
      font-size: 1.3rem;
    }
  }
}
